body{
    background-image: url('/static/images/back.jpg');
    background-size:110%;
    background-repeat: repeat-x;
    background-position: right top;
    background-attachment: fixed;
    
}
.brand-text{
    position:relative;
    margin:0;
    padding:0;
    color:white;
    font-family: 'Mansalva', cursive;
    font-weight: bold;
    
}
.brand-svg{
    position:absolute;
    margin:0;
    padding:0;
}
.top-landing-div{
    background-color:rgb(241, 76, 0) !important;
    height:12rem;
    margin:0;
}
.center-info{
    color:white;
    font-size:1.2em;
}
.one{
    background-color:rgb(202, 155, 78);
    
    height:30rem;
    margin:4%;
}
.one:hover{
    background-color: rgb(219, 168, 86);
}
.two{
    background-color:rgb(96, 177, 121);
    height:30rem;
    margin:4%;
    
}
.two:hover{
    background-color:rgb(103, 189, 130);
}
.landing-cards{
    margin-top:8rem;
}
.footer {
    position:fixed;
    bottom:0;
    width:100%;
    background-color: rgb(238, 237, 237);
    color: rgb(0, 0, 0);
    overflow:hidden;
    text-align:center;
    z-index:2;
 }

 .help-block{
     display:none;
 }

.nav-link:hover{
    font-style: italic;
    font-weight:bolder; 
    color:black;
}

.navbar-text{
    font-weight: bold;
    color:black;
}
 .textinput{
    width:100%;
    height:2.5rem;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius:0.3rem;
    margin-bottom:0.5rem;
    border-color: #ccc;
 }
 .emailinput{
    width:100%;
    height:2.5rem;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius:0.3rem;
    margin-bottom:0.5rem;
    border-color: #ccc;
 }
 #id_content{
    width:100%;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius:0.3rem;
    margin-bottom:0.5rem;
    border-color: #ccc;
 }
 .center-pagination{
        padding-left:35%;
 }
 .fa-shopping-cart{
    font-size: 1.6em;
    margin-left:0.2em;
    padding:0;
  }
  .fa {
    margin-right: 25px;
  }
  .center-info{
      text-align:center;
  }
  .form-container{
      
      width:100%;
      margin-top:3rem;
      margin-bottom:3rem;
  }

.link-name {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size:2em;
  }
  .link-name:hover {
    text-decoration: none;
    color:rgb(163, 162, 162);
    font-weight: bolder;
  }
 
  .card-top-margin{
    margin-top:4em;
    border:2px solid  rgb(190, 190, 190);
 }
 .card-bottom-margin{
    margin-bottom:4em;
    border:2px solid  rgb(190, 190, 190);
 }

.grad-01{
    background-image: linear-gradient(0deg,rgb(243, 243, 243) 0%, rgb(250, 250, 250) 4%, rgb(247, 247, 247) 10%, rgb(247, 247, 247)  75%, rgb(247, 247, 247)  90%,white 97%, rgb(226, 226, 226) 100%);

}
.grad-02{
    background-image: linear-gradient(0deg,rgb(167, 164, 164) 0%, white 4%, rgb(245, 245, 245) 15%, rgb(245, 245, 245)  75%, rgb(245, 245, 245)   90%,rgb(245, 245, 245)  97%, rgb(226, 226, 226) 100%);
    
}
.grad-03{
    background-image: linear-gradient(0deg,rgb(218, 218, 218) 0%, white 4%, rgb(230, 230, 230) 15%, rgb(230, 230, 230)  70%, rgb(230, 230, 230)   80%,rgb(255, 255, 255)  90%, rgb(219, 218, 218) 100%);
}
.grad-button{
    font-size:1em;
    font-weight:bolder;
    background-image: linear-gradient(0deg,rgb(158, 158, 158) 0%, rgb(247, 247, 247) 4%, rgb(194, 194, 194) 15%, rgb(194, 194, 194)  70%, rgb(194, 194, 194)   85%,white  96%, rgb(192, 192, 192) 100%);
}

.card-message{
      width:80%;
  }
  .alert{
      height: 6%;
      margin:0;
      font-size:1.2em;
  }
.back-button{
    margin-top:2em;
    margin-bottom:4em;
 
}
.message-container{
    height:8%;
    margin-top:2em;
    margin-bottom:2em;
}
.hide{
    display:none;
    }
.show{
    display:block;
}
#formshow{
    cursor: pointer;
}
#formshow:hover{
    background-image: linear-gradient(0deg,rgb(158, 158, 158) 0%, rgb(247, 247, 247) 4%, rgb(194, 194, 194) 15%, rgb(194, 194, 194)  70%, rgb(194, 194, 194)   85%,white  96%, rgb(192, 192, 192) 100%);
    
}
.card-text{
    margin-top:60px;
}
.list-group-item{
    border:1px solid  rgb(182, 182, 182);
}
@media only screen and (max-width: 300px){
    .top-landing-div{
        font-size: 0.55em;
        line-height:1.1em;
    }
    .center-info{
        margin:0;
        padding:0;
    }
    .brand-text{
        font-size: 0.9em;
    }
}
@media only screen and (min-width:301px) and (max-width:900px){
    .top-landing-div{
        font-size: 0.75em;
        line-height:1.5em;
        margin:0;
    }
}