.one{
    background-color:rgb(204, 188, 163);
    height:30rem;
    margin:1rem;
}
.one:hover{
    background-color: rgb(228, 211, 177)
}
.two{
    background-color:rgb(135, 177, 148);
    height:30rem;
    margin:1rem;
}
.two:hover{
    background-color:rgb(177, 219, 190);
}
.landing-cards{
    margin-top:8rem;
}
.footer {
    position:fixed;
    bottom:0;
    width:100%;
    background-color: rgb(238, 237, 237);
    color: rgb(0, 0, 0);
    overflow:hidden;
    text-align:center;
 }
 .help-block{
     display:none;
 }
.navbar-expand-lg{
    background-color: rgb(238, 237, 237);
}
.nav-link:hover{
    font-style: italic;
    font-weight: bolder;
    color:black;
}
.navbar-text{
    font-weight: bold;
    color:black;
}
 .textinput{
    width:100%;
    height:2.5rem;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius:0.3rem;
    margin-bottom:0.5rem;
    border-color: #ccc;
 }
 .emailinput{
    width:100%;
    height:2.5rem;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius:0.3rem;
    margin-bottom:0.5rem;
    border-color: #ccc;
 }
 #id_content{
    width:100%;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius:0.3rem;
    margin-bottom:0.5rem;
    border-color: #ccc;
 }
 .center-pagination{
        padding-left:35%;
 }
 .fa-shopping-cart{
    font-size: 1.6em;
    margin-left:0.2em;
    padding:0;
  }
  .center-info{
     
      text-align:center;
  }
  .form-container{
      width:100%;
      margin-top:3rem;
  }
 .sec-back{
    margin-left:48%;
    margin-top:2%;
    width:6%;
  }
.link-name {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size:1.2em;
  }
  .link-name:hover {
    text-decoration: none;
    color:rgb(163, 162, 162);
    font-weight: bolder;
    
  }
  