{% extends 'base.html' %} 
{% block content %}

<div class="container ">
   <div class="row ">
      <div class="col-md-12 message-container text-center" >
         {%if messages%} 
         {%for message in messages%}
         <div class="alert alert-{{message.tags}}" id="message-container">{{message}}</div>
         {% endfor %}
         {% endif %}
      </div>
  </div>
</div>
<div class="container-fluid">
   <div class="row col-sm-11 col-md-12 ml-1">
      <div class="jumbotron top-landing-div" id="jumbo">
         <p class="landing-text">Here you can choose wether to request for a "bug" fix or a feature. If you have discovered a bug in the application please use the "Requests" section for FREE!
         If you want us to develop a new feature please navigate to "Features" page.
         </p>
      </div>
   </div>
   <div class="row cards-row">
      <div class="one card col-xs-10 col-sm-10 col-md-10 col-lg-5 col-xl-5">
         <div class="card-body text-center backgr01 ">
            <span class="center-info">You discovered a "bug" in our application?</span>
            <p class="card-text">Post it and we promise to dedicate a part of our time to fix it.</p>
            <a href="{% url 'app1:postslist' %}" class="btn btn-danger stretched-link"id="landing-card-button-01">Go to Requests</a>
         </div>
      </div>
      <div class="two card col-xs-10 col-sm-10 col-md-10 col-lg-5 col-xl-5">
         <div class="card-body text-center backgr01 ">
            <span class="center-info">You have a feature that you want developed?</span>
            <p class="card-text">Post it and if it gets popular we will allocate the time to develop it!</p>
            <a href="{% url 'feature:ticketlist' %}" class="btn btn-success stretched-link" id="landing-card-button-02">Go to Features</a>
         </div>
      </div>
   </div>
</div>
<script src="/static/main.js"></script>


{% endblock %}