{% extends 'base.html' %}
{% block content %}
<!--Displays messages if they exists -->
{%if messages%}
{%for message in messages%}
<div class="container-fluid" id="message-container">
   <div class="row message-container ">
      <div class="col-md-12 text-center">
         <div class="alert alert-{{message.tags}}" >{{message}}</div>
      </div>
   </div>
</div>
{% endfor %}
{% endif %}

<div class="container-fluid ">
   <div class="top-info text-center">
      <br>
      <p class="mt-4 ml-2 mr-2 top-info-text h4"><em>Here you can choose whether to request 
         for a "bug" fix or a feature. If you have discovered a bug in the application ,
          please use the "Requests" section for FREE!
         If you want us to develop a new feature please navigate to "Features" page.</em>
      </p>
   </div>
<!--The two options of the projects, posts-free and features-paid  -->
   <div class="row">
      <div class="col-md-6 col-lg-6 divone text-center">
         <div class="three">
            <br>
            <div class="centerdiv mt-5">
               <span class="center-span h4">You discovered a "bug" in our application?</span>
            </div>
            <div class=" centerdiv mt-3">
               <p class="h6">Post it and we promise to dedicate a part of our time to fix it.</p>
            </div>
            <a href="{% url 'app1:postslist' %}" class="btn btn-danger stretched-link mt-4"
               id="landing-card-button-01">Go to Requests</a>
         </div>
      </div>
      <div class="col-md-6 col-lg-6 divone text-center">
         <div class="four">
            <br>
            <div class="centerdiv mt-5">
               <span class="center-span h4">You have a feature that you want developed?</span>
            </div>
            <div class=" centerdiv mt-3">
               <p class="h6">Post it and if it gets popular we will allocate the time to develop it!</p>
            </div>
            <a href="{% url 'feature:ticketlist' %}" class="btn btn-success stretched-link mt-4"
               id="landing-card-button-02">Go to Features</a>
         </div>
      </div>
   </div>
<!--The user stories section -->
   <div class="bottom-info container-fluid">
      <div class="row " >
            <div class="col-md-6 mt-2 mb-2" >
                  <div class="text-center mr-5" >
                        <img src="https://djangoprj1.s3.amazonaws.com/media/user_images/face1.jpg" alt="..." class="rounded-circle" height="60px" width="60px">&nbsp;<strong><em style="font-size:1.2em;">"Excellent"</em></strong> 
                  </div>
                  <div class="text-justify text-center" style="font-weight:700;" >"The service provides a prompt result of your queries. I am happy with the response time"</div>
                  <div class="text-center"style="font-weight:700;" >Kathy</div>
            </div>
            <div class="col-md-6 mt-2 mb-2" >
               <div  class="text-center mr-5">
                     <img src="https://djangoprj1.s3.amazonaws.com/media/user_images/face5.jpg" alt="..." class="rounded-circle" height="60px" width="60px">&nbsp;<strong><em style="font-size:1.2em;">"Brilliant!"</em></strong> 
               </div>
               <div class="text-justify text-center" style="font-weight:700;" >"I have purchased a ticket for a feature request and was done in under a week"</div>
               <div class="text-center"style="font-weight:700;" >Andy</div>
            </div>
            <div class="col-md-6 mt-2 mb-2" >
                  <div  class="text-center ml-3">
                        <img src="https://djangoprj1.s3.amazonaws.com/media/user_images/face3.jpg" alt="..." class="rounded-circle" height="60px" width="60px">&nbsp;<strong><em style="font-size:1.2em;">"Very Responsive"</em></strong> 
                  </div>
                  <div class="text-justify text-center" style="font-weight:700;" >"Thank you, you have been very fast to solve my problem!"</div>
                  <div class="text-center"style="font-weight:700;" >Mark</div>
            </div>
            <div class="col-md-6 mt-2 mb-2" >
                  <div  class="text-center">
                        <img src="https://djangoprj1.s3.amazonaws.com/media/user_images/face4.jpg" alt="..." class="rounded-circle" height="60px" width="60px">&nbsp;<strong><em style="font-size:1.2em;">"Good Service"</em></strong> 
                  </div>
                  <div class="text-justify text-center" style="font-weight:700;">"I had a pleasant experience with the support team of this app.Thanks"</div>
                  <div class="text-center"style="font-weight:700;" >Joe Johnson</div>
               </div>
      </div>
   </div>
</div>

<!--Js script for changing inner text of buttons on hover and message fade -->
<script src="/static/main.js"></script>
{% endblock %}