{% extends 'base.html' %}
{% block content %}


<div class="container ">
   <div class="card card-top-margin ">
      <div class="card-header grad-01 text-center">
         <h5 class="card-title text-center "><strong>Post Name:&nbsp; {{userpost.name}}</strong></h5>
      </div>
      <ul class="list-group list-group-flush">
         <li class="list-group-item"><i>Post Author:&nbsp; </i><strong>{{userpost.author|capfirst}}</strong>&nbsp;&nbsp;
           
            <span>
               <img src="https://djangoprj1.s3.amazonaws.com/media/{{profile.image}}" class="rounded-circle" alt="My Profile" width="90" height="90" style="margin-bottom:3px;">
               </span>
         </li>
         <li class="list-group-item"><i><strong>Post Description :</strong></i> {{userpost.content}}</li>
         <li class="list-group-item"><i>Post Votes :</i> <strong>{{userpost.votes}}</strong></li>
         <li class="list-group-item"><i>Post Date :</i> <strong>{{userpost.date_posted}}</strong></li>
         {% if userpost.done %}
         <li class="list-group-item"><i>Please find the solved post notes <a href="">here</a></i></li>
      
         {% endif %}
         {% if answer.content %}
         <li class="list-group-item"><i>Post Answer :</i> <strong>{{answer.content}}</strong></li>
         {% endif %}
         {% if answer.answered_date %}
         <li class="list-group-item"><i>Date Answered :</i> <strong>{{answer.answered_date}}</strong></li>
         {% endif %}
      </ul>
      {% if user  ==  userpost.author %}
      <div class="row text-center">
         <div class="card-body">
            <form method="POST" action="{% url 'app1:deleteuserpost' userpost.id %}">
               {% csrf_token %}
               <button type="submit" class="btn btn-danger" ><i class="fa fa-trash-o fontaws" style="font-size:20px;" ></i>Delete this Post</button>
            </form>
         </div>
         <div class="card-body">
            <form method="POST" action="{% url 'app1:updateuserpost' userpost.id %}">
               {% csrf_token %}
               <button type="submit" class="btn btn-info" ><i class="fa fa-edit fontaws" style="font-size:20px;" ></i>Update this Post </button>
            </form>
         </div>
      </div>
      {% endif %}
      {% if not user  ==  userpost.author %} 
      <div class="row text-center">
         <div class="card-body text-center">
            <form method="POST" action="{% url 'app1:postresult' userpost.id %}">
               {% csrf_token %}
               <input type="hidden" name='value' value="1">
               <button type="submit" class="btn btn-info" ><i class="fa fa-thumbs-up fontaws"></i>Vote for this post </button>
            </form>
         </div>
      </div>
      {% endif %}
      {% if not answer.content %}
      {%if  user.is_superuser%}
      <ul class="list-group list-group-flush text-center">
         <li class="list-group-item"> <a class="btn btn-secondary " href="{% url 'app1:answer' userpost.id %}" role="button">Answer To This Post</a></li>
      </ul>
      {% endif %}
      {% endif %}
   </div>
</div>
<div class="container back-button">
   <div class="row" >
      <div class="col text-center">
         <a class="btn btn-secondary"  href="{% url 'app1:postslist' %}" role="button"><i class="fa fa-angle-left fontaws" style="font-size:20px"></i>Back</a>
      </div>
   </div>
</div>

{% endblock %}