<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Issue Tracker</title>
</head>

<body >
    <nav class="navbar navbar-expand-lg navbar-light grad-02"  >
        <a class="navbar-brand" href="{% url 'app1:index' %}">
            <svg class="brand-svg" width="155" height="35">
                    <rect x="0" y="0" rx="5" ry="5" width="155" height="34"
                    style="fill:rgb(223, 5, 5);" />
                  </svg>
                <p class="brand-text">&nbsp;<i class="fa fa-cog"style="color:yellow;"></i>&nbsp;<em><strong>I</strong><i class="font-weight-normal">ssue</i><strong>T</strong><i class="font-weight-normal">racker</i></em></p>
            </a>
            <br><br>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if '/' == request.path %}
                <li class="nav-item active" style="font-weight:bold">
                    <a class="nav-link" href="{% url 'app1:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app1:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>

                {% endif %}
                </li>

                {% if 'postslist' in request.path %}
                <li class="nav-item active" style="font-weight:bold">
                    <a class="nav-link" href="{% url 'app1:postslist' %}">Issues to Fix</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app1:postslist' %}">Issues to Fix</a>
                </li>
                {% endif %}
                {% if 'ticketlist' in request.path %}
                <li class="nav-item active" style="font-weight:bold">
                    <a class="nav-link" href="{% url 'feature:ticketlist' %}">Feature Requests</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feature:ticketlist' %}">Feature Requests</a>
                </li>
                {% endif %}
            </ul>
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <span class="navbar-text mr-5 " >
                    Logged in as {{user.username | capfirst}}
                    <span class="icon" style="border-radius:4px;width:25px;">
                        <i class="fa fa-user user-icon" style="font-size:20px" ></i>
                    </span>
                </span>
                <a class="nav-item nav-link mr-3"  href="{% url 'accounts:logout' %}">Logout</a>
                <a class="nav-item nav-link mr-3" href="{% url 'cart:cart_detail' %}"><i
                        class="fa fa-shopping-cart"></i></a>
                {% else %}


                {% if 'login' in request.path %}
                <a class="nav-item nav-link mr-3 active" style="font-weight:bold"
                    href="{% url 'accounts:login' %}">Login</a>
                {% else %}
                <a class="nav-item nav-link mr-3" href="{% url 'accounts:login' %}">Login</a>
                {% endif %}

                {% if 'register' in request.path %}
                <a class="nav-item nav-link mr-3 active" style="font-weight:bold"
                    href="{% url 'accounts:register' %}">Register</a>
                {% else %}
                <a class="nav-item nav-link mr-3" href="{% url 'accounts:register' %}">Register</a>
                {% endif %}
            </div>
            {%endif%}
        </div>
    </nav>
   

    {% block content %}{% endblock %}

    <footer class="footer grad-03">
        <span >&copy Lorem Ipsum 2019</span>
    </footer>
    
</body>

</html>