{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--Simulates release notes for a done feature-->
<div class="container">
    <div class="card card-top-margin">
       <div class="card-header  grad-01 text-center ">
          <a class="link-name" href=""><i>{{ticket.name}}</i></a>
       </div>

       <div class="card-body ">
<p>Lorem ipsum dolor sit amet, perfecto salutandi ad est, ex sed indoctum eloquentiam. Appetere detraxit est ea.
Te vis brute aliquam offendit, numquam corpora principes id pro. Ut sed eros ullum graeci. Duo an nonumy oblique
insolens, meis neglegentur voluptatibus at eum.
Per tincidunt neglegentur eu, ex est option nonumes, ea mea natum persecuti signiferumque.
Tation honestatis sadipscing te est, quot imperdiet disputationi vel et. Duo labore essent ut.
Pri at integre ancillae cotidieque, in eirmod vivendo comprehensam cum, te semper fuisset phaedrum vim.
Eu molestie oporteat prodesset vis, usu ei graece reformidans, per fastidii elaboraret ei. Ut vel purto comprehensam</p>
     </div>
    </div>


 </div>
{% endblock %}