{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{%if messages%}
<div class="container ">
   <div class="card card-top-margin card-message mx-auto">
      <div class="card-body  ">
         {%for message in messages%}
         <div class="alert alert-{{message.tags}} text-center">{{message}}</div>
         {% endfor %}
      </div>
   </div>
</div>
{% endif %}
<!--Using a for loop to display the list of requested features-->
{% for ticket in ticket %}
<div class="container">
   <div class="card card-top-margin">
      <div class="card-header  grad-01 text-center ">
         <a class="link-name" href="{% url 'feature:ticketdetail' ticket.id %}"><i>{{ticket.name}}</i></a>
      </div>
   </div>
   <ul class="list-group ">
      <li class="list-group-item">Ticket Author:&nbsp;<strong>{{ticket.author|capfirst}}</strong>&nbsp;&nbsp;

         {% for profile in profile %}
         {% if profile.user == ticket.author %}
         <span>
            <img src="https://djangoprj1.s3.amazonaws.com/media/{{profile.image}}" class="rounded-circle"
               alt="My Profile" width="50" height="50" style="margin-bottom:3px;">
         </span>
         {% endif %}
         {% endfor %}

      </li>
      <li class="list-group-item">Date Posted: <strong>{{ticket.date_posted}}</strong></li>
      <li class="list-group-item">Ticket Votes : <strong>{{ticket.votes}}</strong></li>
      <li class="list-group-item">Ticket Price £ : <strong>{{ticket.price}}</strong></li>
     {% if order %}
      <li class="list-group-item"style="background-color:rgb(229, 255, 204, 0.7);">Price off £ : <strong>{{order.off}}</strong></li>
    {% endif %}
      {% if ticket.done %}
      <li class="list-group-item" style="background-color:rgb(255, 205, 193, 0.7);"><strong>This ticket has now been
            completed!</strong></li>
      {% endif %}
   </ul>
</div>
{% endfor %}
<br>
<!--The pagination container-->
<div class="container center-pagination">
   <nav aria-label="custom-navigation">
      <ul class="pagination ">
         {% if ticket.has_previous %}
         <li class="page-item"><a class="page-link text-dark bg-light "
               href="?page={{ ticket.previous_page_number }}">Previous</a></li>
         {% endif %}
         <li class="page-item active  ">
            <a class="page-link bg-secondary" href="#">Page {{ ticket.number }}</a>
         </li>
         {% if ticket.has_next %}
         <li class="page-item"><a class="page-link text-dark bg-light"
               href="?page={{ ticket.next_page_number }}">Next</a></li>
         {% endif %}
      </ul>
   </nav>
</div>
<!--Form for posting a new request for a feature-->
<div class="container form-container ">
   <div class="card card-bottom-margin">
      <div class="card-header text-center grad-01" id="formshow">
         <h4 class="text-hover" style="color:rgb(221, 6, 6);">Add a request for a feature</h4><i
            class='fa fa-angle-down' style='font-size:24px;color:rgb(221, 6, 6);'></i>
      </div>
      <div class="card-body text-center hide" id="hiddenform">
         <form method="POST">
            {% csrf_token %}
            {{form | crispy }}
            <button type="submit" class="btn btn-secondary">Submit</button>
         </form>
      </div>
   </div>
</div>
<!--Js script for displaying the request feature form-->
<script src="/static/forms.js"></script>
{% endblock %}